.textButton {
  padding: 0rem;
  height: 2.5rem;
  line-height: 1rem;
  border-radius: 2rem;
  box-shadow: none;
  text-transform: capitalize;
  border: none;
}

.textButton:hover {
  box-shadow: none;
  border: none;
}
