/* ag-grid theme override css */
.ag-header-cell {
  font-size: 12px;
  background-color: var(--color-stone);
  color: var(--color-white);
  width: auto;
  font-family: 'Open Sans, sans-serif';
  font-weight: 400;
}

.ag-icon {
  color: var(--color-white) !important;
}

.ag-paging-row-summary-panel {
  color: var(--color-jetBlack);
  font-size: 10.5px;
  font-weight: 400;
  font-family: 'Open Sans, sans-serif';
}

.ag-paging-page-summary-panel {
  color: var(--color-jetBlack);
  font-size: 10.5px;
  font-weight: 400;
  font-family: 'Open Sans, sans-serif';
}

.ag-icon-previous {
  color: var(--color-jetBlack) !important;
}

.ag-icon-first,
.ag-icon-next,
.ag-icon-last {
  color: var(--color-jetBlack) !important;
}

.ag-header {
  background-color: var(--color-stone) !important;
}
/* ag-grid theme override css */

.columnList__header {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 21px;
  padding: 0rem 0.5rem 0rem 1rem;
  height: 4rem;
  border: .5px solid var(--color-lightGray);
}

.columnList__cardPopOverMenu {
  border-right: 1px solid var(--color-slate);
  padding-top: 0.5rem;
}

.columnList__headerButtons {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 12px;
  padding: 0.15rem 0rem 0rem 0rem;
}

.columnList__rows {
  font-size: 10.5px;
  color: var(--color-jetBlack);
  font-weight: 400;
  font-family: 'Open Sans, sans-serif';
  outline: none !important;
}

.columnList__hyperlink {
  color: var(--color-teal);
  font-size: 12px;
  cursor: pointer;
}

.columnList__hyperlink:hover {
  text-decoration: underline;
}

.columnList__number {
  text-align: right;
}
