.systemHeader__title {
  flex-grow: 1;
}
.systemHeader__title h4 {
  display: inline;
  text-decoration: none;
  color: var(--color-white);
}

.systemHeader__base {
  font-weight: var(--font-weight-bold);
}

.systemHeader__productTitle {
  text-transform: capitalize;
}
