.sqDialogStepper__actions {
  display: flex;
  justify-content: space-between;
  flex: 1 1 100%;
  padding: 1.3333rem 2rem;
}

.sqDialogStepper__arrow {
  display: flex !important; /* MUI override */
  align-items: center;
}

.sqDialogStepper__arrow svg {
  height: 4rem !important; /* MUI override */
  width: 4rem !important; /* MUI override */
}
