.SQDialogStepper__actions {
  display: flex;
  justify-content: space-between;
  flex: 1 1 100%;
  padding: 1.3333rem 2rem;
}

.SQDialogStepper__stepContainer {
  text-align: center;
  padding-bottom: 1rem;
}

.SQDialogStepper__stepper {
  display: inline-block;
}

.SQDialogStepper__divider {
  margin-bottom: 2rem !important; /* material-ui override */
}
