.weekly-schedule__day-hours {
  font-size: 10px;
}

.weekly-schedule__resize-handle-top {
  top: -20px !important;
  cursor: n-resize !important;
}

.weekly-schedule__resize-handle-bottom {
  bottom: 27px !important;
  cursor: s-resize !important;
}

.weekly-schedule__resize-handle-bottom::after,
.weekly-schedule__resize-handle-top::after {
  height: 20px !important;
  display: block;
  text-align: center;
  content: '═';
  font-size: 2px;
}

.weekly-schedule__event-content {
  color: white;
  position: relative;
  top: calc(50% - 16px);
  text-align: center;
  border-radius: 8px;
  box-shadow: var(--box-shaddow-card);
}
