.sqForm {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.sqForm__item {
  display: flex;
  align-items: center;
}

.sqForm__item:empty {
  display: none;
}

.sqForm__item--tall {
  height: unset;
}

.sqForm__item--wide {
  padding: 0.33rem;
  min-width: 25rem;
  width: 33%;
}

.sqForm__item--tight {
  padding: 0.67rem;
  width: 20%;
}

.sqForm__item--full {
  min-width: 25rem;
  width: 100%;
}

.sqForm__item--static-width {
  width: 16rem;
}

.sqForm_clearButtonIcon {
  color: var(--color-white);
}

.sqForm_clearButton {
  color: var(--color-white);
  transform: scale(0.5, 0.5) translateX(-200%) translateY(100%);
  cursor: pointer;
  border: 1px solid var(--color-slate);
  border-radius: 2rem;
  background-color: var(--color-slate);
  min-width: 0px;
  height: auto;
  line-height: 0px;
}

.sqForm_clearButton:hover {
  background-color: var(--color-slate);
}
