.roundedButton {
  padding: 0 1.5rem;
  height: 2.5rem;
  line-height: 1rem;
  border: 0.1667rem solid var(--button-primary);
  border-radius: 2rem;
  box-shadow: none;
  text-transform: capitalize;
}

.roundedButton:hover {
  box-shadow: none;
}

.roundedButton--primary {
  background-color: var(--button-primary);
  color: var(--color-white);
  border: 0.1667rem solid transparent;
}

.roundedButton--primary:hover {
  background-color: var(--button-primary-hover);
  color: var(--color-white);
}

.roundedButton--secondary {
  background-color: var(--color-white);
  color: var(--button-secondary);
  border: 0.1667rem solid var(--button-secondary);
}

.roundedButton--secondary:hover {
  background-color: var(--button-secondary-hover);
  color: var(--button-secondary);
  border: 0.1667rem solid var(--button-secondary);
}

.roundedButton--success {
  background-color: var(--color-palmLeaf);
  color: var(--color-white);
  border: 0.1667rem solid transparent;
}

.roundedButton--success:hover {
  background-color: var(--color-button-hover-success);
  color: var(--color-white);
}
