.datePicker {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 16rem;
  top: 0.2rem;
  width: 100%;
}

/* changes for making the label generic*/
.datePicker__label {
  color: var(--color-label);
  font-size: var(--size-label);
  line-height: 1.67rem;
  display: inline-block;
}

.datePicker__error {
  border-bottom: 0.1667rem solid var(--color-spanishOrange);
}

.datePicker__errorText {
  top: 0.8rem;
  position: relative;
  font-size: var(--size-label);
  width: max-content;
  color: var(--color-roseMadder);
}

.datePicker__calendarIcon {
  bottom: -0.25rem;
  position: absolute;
  right: 0;
  color: var(--color-teal);
  transform: translateY(-50%);
  cursor: pointer;
}

.datePicker__calendarIcon--disabled {
  color: var(--color-slate);
  cursor: not-allowed;
}

.datePicker__clearIcon {
  color: var(--color-white);
}

.datePicker__clearIcon_btn {
  bottom: 0.25rem;
  position: absolute;
  right: 2rem;
  color: var(--color-white);
  transform: scale(0.5, 0.5);
  cursor: pointer;
  border: 0.1rem solid var(--color-slate);
  border-radius: 2rem;
  background-color: var(--color-slate);
  min-width: 0.1rem;
  height: auto;
  line-height: 0.1rem;
}

.datePicker__clearIcon_btn:hover {
  background-color: var(--color-slate);
}

.datePicker__input {
  font-size: 1.17rem;
  line-height: 1.33rem;
  padding: 0.66rem 2rem 0.66rem 0rem;
  border-bottom: 0.2rem solid var(--color-gainsboro);
  border-left: none;
  border-top: none;
  box-shadow: none;
  border-right: none;
  width: 100%;
}

.datePicker__popper {
  width: 25rem;
  height: auto;
  line-height: normal;
}
