.baseAvatar {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-white);
  background-color: var(--color-cerulean);
  margin: 0 auto;
  transition: background-color 0.2s;
}

.baseAvatar--inverted {
  color: var(--color-cerulean);
  background-color: transparent;
  border: 0.167rem solid var(--color-cerulean);
}

.baseAvatar--isDisabled {
  color: var(--color-white);
  background-color: var(--color-slate);
  border: 0.083rem solid var(--color-slate);
}

.baseAvatar--isFocused {
  color: var(--color-white);
  background-color: var(--color-spanishOrange);
  border: 0.083rem solid var(--color-spanishOrange);
}

.baseAvatar--centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
