.iconButton {
  width: 30px !important; /* MUI Override */
  height: 30px !important; /* MUI Override */
  color: var(--color-teal) !important; /* MUI Override */
}

.iconButton__enabled {
  color: var(--color-palmLeaf) !important; /* MUI Override */
}

.iconButton__disabled {
  color: var(--color-slate) !important; /* MUI Override */
  cursor: not-allowed;
}
